/* General Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  all: unset;
}

:root {
  --bg-color: hsl(224, 39%, 4%);
  --text-color: hsl(225, 4%, 81%);
  --board-bg: hsl(224, 19%, 15%);
  --box-bg: hsl(223, 21%, 6%);
  --box-shadow: rgba(0, 0, 0, 0.5);
  --x-color: hsl(352, 89%, 42%);
  --o-color: hsl(237, 88%, 52%);
  --hover-scale: 1.1;
  --transition-duration: 200ms;
  --btn-bg: hsl(240, 1%, 68%);
  --btn-color: hsl(224, 39%, 4%);
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  font-size: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: relative;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  gap: 10px;
  padding: 20px;
  background-color: var(--board-bg);
  border-radius: 10px;
}

.box {
  width: 100px;
  height: 100px;
  background-color: var(--box-bg);
  color: var(--text-color);
  font-size: 2.5rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 2px 2px 5px var(--box-shadow);
  cursor: pointer;
  transition: transform var(--transition-duration) ease-in-out;
}

.box:hover {
  transform: scale(var(--hover-scale));
}

.x {
  color: var(--x-color);
}

.o {
  color: var(--o-color);
}

.message {
  grid-column: span 3;
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 10px;
  z-index: 2;
}

.board-footer {
  grid-column: span 3;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}

.score-title {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}

.player-score {
  font-size: 1rem;
  text-align: center;
  background-color: var(--bg-color);
  padding: 5px 0;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  gap: 5px;
}

.score-x,
.score-o {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}
.score-x {
  color: var(--x-color);
}
.score-o {
  color: var(--o-color);
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  width: 100px;
  height: 30px;
  padding: 10px;
  background-color: var(--btn-bg);
  color: var(--btn-color);
  border-radius: 5px;
  cursor: pointer;
  transition: background-color var(--transition-duration) ease-in-out;
}

.buttons-container {
  grid-column: span 3;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  position: absolute;
  inset: 0;
  z-index: 2;
}

.hide {
  display: none;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  width: 100%;
  height: 100%;
  z-index: 1;
}

.btn.new-game-btn:hover {
  background-color: var(--x-color);
  color: var(--text-color);
}
.btn.reset-all-btn:hover {
  background-color: var(--o-color);
  color: var(--text-color);
}
